html {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}


/* ALL LOADERS */

.loader {
	display: inline;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: relative;
}


/* LOADER 1 */

#loader-1:before,
#loader-1:after {
	content: "";
	position: absolute;
	right: -50px;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 10px solid transparent;
	border-top-color: #3498db;
}

#loader-1:before {
	z-index: 100;
	animation: spin 1s infinite;
}

#loader-1:after {
	border: 10px solid #ccc;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.container {
	padding: 0px;
}

.center {
	margin: 0 auto;
}

.social-img {
	padding: 4px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

.button--green {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #3b8070;
	color: #3b8070;
	text-decoration: none;
	padding: 10px 30px;
}

.button--green:hover {
	color: #fff;
	background-color: #3b8070;
}

.button--grey {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #35495e;
	color: #35495e;
	text-decoration: none;
	padding: 10px 30px;
	margin-left: 15px;
}

.button--grey:hover {
	color: #fff;
	background-color: #35495e;
}

.tnc-link {
	display: block;
	margin-top: 20px;
	font-size: 12px;
	color: #0159f8;
	text-decoration: underline;
	word-spacing: 0px;
}

.enter-phone {
	display: block;
	font-size: 1.54rem;
	color: #f84e1f;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

.form-control {
	text-align: center;
}

button#btn {
	display: inline-block;
	width: 100%;
	height: 2.5rem;
	white-space: normal;
	font-size: 16px;
	font-weight: 500;
	border: 0px;
	color: #FFFFFF;
	background-color: #0159f8;
	margin-top: 15px;
	margin-bottom: 25px;
	font-family: 'Lato', sans-serif!important;
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	letter-spacing: 0.5px;
}

.copy-link {
	margin-bottom: 25px;
}

.installNumber {
	background: #ececec;
	padding: 14px;
	text-align: center;
	margin: 0;
}

@media screen and (max-width: 376px) {
	.enter-phone {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 234px) {
	button#btn {
		height: 4rem;
	}
	.enter-phone {
		font-size: 0.8rem;
	}
}
